p {
    text-indent: 25px;
}
.with_border {
    border: 5px solid #00a8e1;
}

.sub_body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

ul li {
    list-style-type: none;
}
ul li::before {
    content: "o";
    color:red;
}